.winesdetail{
    position: relative;
    top: 5em;
    width: 100%;
    margin-bottom: 10em;
    height: auto; /* temporal */


    display: flex;
    flex-direction: column;
    align-items: center;
}


.winesdetail__containerinfo{
    height: auto;
    background-color: var(--blanco);
    line-height: 1.75em;
    

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.winesdetail__containerdescription{
    justify-self: end;
    height: 100%;
    max-width: 90%;
    hyphens: none;
    padding: 0 5% 0 0;
    color: var(--negro);
    letter-spacing: 0.00938em;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.aaa{
    font-family: var(--tipo-titulos);
    font-size: 6em;
    
}

.containerdescription__title{
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.containerdescription__paragraph{
    color: var(--color-cuerpoClaro);
}

.winesdetail__containerbottle{
    background-color: var(--color-fondoClaro);
    height: 100%;
    width: 100%;
    padding: 2% 5%;
}


.winesdetail__bottle{
    height: 41em;
    width: auto;
    margin: auto;
}

.winesdetail__return{
    width: 100%;
    font-size: 1em;
    padding: .7em 0;

    font-family: var(--tipo-subtitulos);
    font-size: 2em;
    color: var(--color-fondoOscuro);
    background-color: var(--color-logo);
    border: .1em solid var(--color-logo);

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.winesdetail__return:hover{
    color: var(--color-logo);
    background-color: var(--color-fondoOscuro);
}

.icon__return{
    width: 1.5em;
}
