.winesdetail{
    position: relative;
    top: 5em;
    width: 100%;
    margin-bottom: 10em;
    height: auto; /* temporal */


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


.winesdetail__containerinfo{
    height: auto;
    background-color: var(--blanco);
    line-height: 1.75em;
    

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.winesdetail__containerdescription{
    justify-self: end;
    height: 100%;
    max-width: 90%;
    hyphens: none;
    padding: 0 5% 0 0;
    color: var(--negro);
    letter-spacing: 1.5px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.containerdescription__title{
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.containerdescription__paragraph{
    color: var(--color-cuerpoClaro);
}

.winesdetail__containerbottle{
    background-color: var(--color-fondoClaro);
    height: 100%;
    width: 100%;
    padding: 2% 5%;
}


.winesdetail__bottle{
    height: 41em;
    width: auto;
    margin: auto;
}

