.card{
    background-color: var(--color-fondoClaro);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}

.card__info{
    color: var(--color-cuerpoClaro);
    font-family: var(--tipo-cuerpo);
    padding: .5em 2em;
    hyphens: none;
}

.card__img{
    height: 480px;
    overflow: hidden;
}