.card{
    position: relative;
    padding: 0 0 0 0;
    width: 100%;
    
    background-color: var(--color-fondoClaro);
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: start;
    align-items: center;
}

.card__info{
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;

    padding: 8% 12%;
    background-color: var(--blanco);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6em;
}

.card__conataineryear{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card__year{
    display: inline-block;
    color: var(--negro);
    background-color: var(--blanco);
    z-index: 1;
}

.card__line{
    position: absolute;
    height: 1px;
    background-color: var(--color-cuerpoClaro);
    width: 100%;

    top: 0.6em;
}

.card__title{
    color: var(--negro);
    font-family: var(--tipo-subtitulos);
    text-align: start;
    
    font-size: 1.5em;
}

.card__paragraph{
    color: var(--color-cuerpoClaro);
    font-family: var(--tipo-cuerpo);
    text-align: start;
    font-size: 1.1em;
    line-height: 1;
    hyphens: none;
}

.card__containerimg{
    background-color: var(--color-fondoClaro);
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.card__img{
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .card{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

}