.ourstory{
    position: relative;
    top: 4em;
    width: 100%;
    margin-bottom: 5%;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.ourstory__firstimg{
    background: linear-gradient(rgba(5, 7, 12, 0.50),rgba(5, 7, 12, 0.50)), url(../../assets/img/Verona_1.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position-y: top;
    height: 30vh;
    max-height: 30em;
    width: 100%;
}

.ourstory__banner{
    background-color: var(--color-fondoClaro);
    padding: 0 5%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner__containerimg{
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}



.banner__text{
    padding: 3em;
    text-align: center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.banner__title{
    color: var(--color-tituloClaro);
    font-family: var(--tipo-titulos);
    font-size: 5em;
}

.banner__wrapparagraphs{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.wrapparagraphs__paragraph{
    color: var(--color-cuerpoClaro);
    font-family: var(--tipo-cuerpo);
}

.ourstory__wraptimeline{
    padding: 0 5%;
    padding-top: 6em;
    color: var(--color-logo);
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 6em;
}

.wraptimeline__title{
    align-self: center;
    font-family: var(--tipo-titulos);
    font-size: 11em;
}

.wraptimeline__timeline{
    width: 100%;
    
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.timeline__section{
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.timeline__section:nth-child(even) {
    align-self: flex-end;
  }