.ourstory{
    position: relative;
    top: 4em;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.ourstory__firstimg{
    max-height: 30em;
    width: 100%;
}

.firstimg__img{
    width: 100%;
    margin-top: -150px;
}

.ourstory__banner{
    background-color: var(--color-fondoClaro);
    padding: 0 5%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner__containerimg{
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}



.banner__text{
    padding: 3em;
    text-align: center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.banner__title{
    color: var(--color-tituloClaro);
    font-family: var(--tipo-titulos);
    font-size: 5em;
}

.banner__wrapparagraphs{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.wrapparagraphs__paragraph{
    color: var(--color-cuerpoClaro);
    font-family: var(--tipo-cuerpo);
}

.ourstory__wraptimeline{
    padding: 0 5%;
    padding-top: 6em;
    color: var(--color-logo);
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 6em;
}

.wraptimeline__title{

    font-family: var(--tipo-titulos);
    font-size: 11em;
}

.wraptimeline__timeline{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.timeline__section{

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    
}

.timeline__year{
    font-family: var(--tipo-titulos);
    font-size: 8em;
    justify-self: self-end;
}
