.Home{
    position: relative;
    height: 100vh;
    width: 100%;

    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(../../assets/img/Winery.png) no-repeat center center fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.Home__texts{
    position: absolute;
    bottom: 0;
    color: var(--color-logo);
    padding: 3em 4em;
    width: 100%;


    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

.Home__logo{
    fill: var(--color-logo);
    width: auto;
    height: 100%;
    max-height: 13vw;
}


.Home__slogan{
    font-family: var(--tipo-cuerpo);
    font-size: 3em;
    text-align: center;
}

.Home__button{
    font-size: 1.5em;
    padding: .7em 1.5em;
    margin-top: 2em;
    font-family: var(--tipo-subtitulos);
    color: var(--color-fondoOscuro);
    background-color: var(--color-logo);
    border: .1em solid var(--color-logo);
}

.Home__button:hover{
    color: var(--color-logo);
    background-color: var(--color-fondoOscuro);
}

@media (max-width: 950px) {
    .Home__texts{
        padding: 3em 0;
    }

    .Home__logo{
        width: auto;
        height: 100%;
    }

    .Home__slogan{
        font-size: 2em;
    }

    .Home__button{
        font-size: 1em;
        padding: .5em 1em;
        margin-top: 0;
    }
}

@media (max-width: 560px) {
    .Home__texts{
        padding: 3em 0;
        bottom: 10%;
    }

    .Home__slogan{
        font-size: 1.5em;
    }
}

@media (max-width: 425px) {
    .Home__slogan{
        font-size: 1em;
    }

}