.navbar{
    position:fixed;
    width: 100%;
    background-color: var(--color-fondoOscuro);
    z-index: 3;
    padding: 0 5%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-home{
    position:fixed;
    width: 100%;
    background-color: var(--color-fondoOscuro);
    z-index: 2;
    padding: 0 5%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.navbar__containerlogo{
    padding: 1%;
}

.navbar__logo{
   height: 3em;
   width: auto;
   fill: var(--color-logo);
}


.navbar__buttons{
    height: 4em;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    gap: 2em;
}


.buttons__button{
    border-bottom: 2px solid rgba(244, 214, 162, 0);
    transition: all 0.2s;
}
.buttons__button:hover{
    border-bottom: 2px solid rgba(244, 214, 162, 1);
}

.button__link{
    color: var(--color-logo);
    font-family: var(--tipo-subtitulos);
    font-weight: 700;
}

.navbar__buttonmovile{
    display: none;
    cursor: pointer;
}

.buttonmovile__svg{
    fill: var(--color-logo);
    height: 2em;
}

  @media (max-width: 768px) {
    .navbar{

        height: 3em;

    
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__logo{
        height: 1.9em;
     }

    .navbar__buttons{
        display: flex;
        width: 100%;
        height: 0vh;
        flex-direction: column;
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease;
    }

    .navbar__buttons.isActive{
        display: flex;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
    }

    .navbar__buttonmovile{
        display: block;
    }
  }
