.carousel{
    position: relative;
    width: 100%;
    

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.carousel-image {
    width: 100%;  /* Ancho máximo del carrusel */
    height: auto;  /* Altura automática según la proporción de la imagen */
    object-fit: contain;  /* Ajusta la imagen sin deformarla */
  }

  .carousel__button{
    position: absolute;
    top: 50%;
    cursor: pointer;
  }

  .carousel__button:hover{
    color: var(--blanco);
  }

  .carousel__button--left{
    left: 2%;
  }

  .carousel__button--right{
    right: 2%;
  }