.visit{
    position: relative;
    top: 4em;
}

.visit__bannerv{
    background: linear-gradient(rgba(5, 7, 12, 0.50),rgba(5, 7, 12, 0.50)), url(../../assets/img/Visit/VisitBanner.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 40vh;
    width: 100%;

    padding: 7% 0 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;

}

.bannerv__title{
    display: inline-block;
    color: var(--blanco);
    font-size: 2em;
    font-weight: bold;
}

.bannerv__subtitle{
    display: inline-block;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.5em;
}

.visit__introduction{
    background-color: var(--color-fondoClaro);
    height: auto;
    min-height: 80vh;
    width: 100%;
    padding: 10% 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.introduction__title{
    display: inline-block;
    color: var(--negro);
    font-family: var(--tipo-titulos);
    font-size: 6em;
    margin-bottom: .7em;
    line-height: 1;
    hyphens: none;
}

.introduction__paragraph{
    display: inline-block;
    color: var(--color-cuerpoClaro);
    font-family: var(--tipo-cuerpo);
    font-size: 1.5em;
    line-height: 1;
    hyphens: none;
}

.visit__carousel{
    height: 80vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__container{
    width: 90%;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.visit__wrapcards{
    height: auto;
    width: 90%;


    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.wrapcards__card{
    height: 480px;
    width: 360px;
}
