.pricecard{
    height: 100%;
    width: 100%;
    background-color: var(--color-fondoClaro);
    padding: 10% 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
}

.pricecard:hover{
    background-color: #EDEDED;
}

.pricecard__sectionpc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricecard__line{
    content: " ";
    width: 100%;
    border-bottom: 1px solid var(--color-cuerpoClaro);
}


.sectionpc__name{
    color: var(--color-tituloClaro);
    font-size: 2em;
}

.sectionpc__number{
    color: var(--color-tituloClaro);
    font-size: 3em;
}

.pricecard__sectionpc--info{
    color: var(--color-cuerpoClaro);
    font-family: var(--tipo-cuerpo);
    padding: .5em 2em;
    
    flex-direction: column;
    align-items: start;
}

.sectionpc__point{
    hyphens: none;
    align-self: start;
    text-align: start;
}

.sectionpc__point::before {
    content: "•";
    display: inline-block;
    margin-right: 0.5em;
  }

.pricecard__sectionpc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionpc__button{
    font-size: 1em;
    padding: .7em 1.5em;
    font-family: var(--tipo-subtitulos);
    color: var(--color-fondoOscuro);
    background-color: var(--color-logo);
    border: .1em solid var(--color-logo);
    cursor: pointer;
}

.sectionpc__button:hover{
    color: var(--color-logo);
    background-color: var(--color-fondoOscuro);
}



/* #btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal{
    display: flex;
} */

.pricecard__modal{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.pricecard__modal.isActive{
    display: flex;
}
.modal__modalcont{
    width: 100%;
    max-width: 25em;
    padding: 3em;
    background-color: var(--color-fondoOscuro);
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.modalcont__title{
    color: var(--color-logo);
    font-family: var(--tipo-titulos);
    font-size: 4em;
}
.modalcont__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.modalcont__paragraph{
    text-align: center;
    color: var(--color-cuerpoOscuro);
    font-family: var(--tipo-subtitulos);
    font-size: 1em;
}

.modalcont__paragraph--highlight{
    color: var(--color-logo);
}

